.form {
    position:absolute;
    width: 100%;
    display:flex;
    flex-direction:column;
}
.form input{
    background-color:#E5CCFF;
    margin: 30px 15%;
    width: 70%;
}
.form label{
    margin-left: 15%;
    width: 70%;
    font-weight:bold;
}
.submitButton input{
    width:40%;
    background-color: #641E9A;
}