{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>about</h1>
  <img src="{{ url_for('static', filename='images/geeb.JPG')}}" width="500" />
  <p class="about-container">
    I am studying B.S. Computer Science and Technology at the Instituto Tecnológico de Monterrey.
    I am interested in cybersecurity, web development, production engineeering and
    mobile development. My passion is to learn new things and in my free time I like to play the violin, read,
    watch Netflix and hanging out with my friends

  </p>
</div>

{% endblock %}
