{% extends "base.html" %} {% block content %}

<div class="container">
    <h1 class="subtitle">experience</h1>
</div>
<div class="textContainer">
    <h3 >Rutopia</h3>
    <h4>Social Service Volunteer</h4>
    <div class="detailContainer">
      <h5>Year: </h5>
      <p>2020</p>
    </div>
    <p> During a semester I used React, css and Bootstrap to help them with some design changes into their webpage </p>
</div>
<div class="textContainer">
    <h3 >Beautiful Patterns</h3>
    <h4>Facilitator</h4>
    <div class="detailContainer">
      <h5>Year: </h5>
      <p>2021</p>
    </div>
    <p>I participate in MIT's Beautiful Patterns program as a facilitator.
        The program lasted a week and consisted of teaching girls
        between 15 and 17 years to program in Python. </p>
</div>
<div class="textContainer">
    <h3 >Quinta Carmelita</h3>
    <h4>Android Frontend </h4>
    <div class="detailContainer">
      <h5>Year: </h5>
      <p>2021</p>
    </div>
    <p>I participate in the development of an Android app to help the foundation
    Quinta Carmelita had a better control of their data. I used Adobe XD and Android Studio</p>
</div>


{% endblock %}
