{% extends "base.html" %} {% block content %}
<div class="container">
    <h1 class="subtitle">projects</h1>
</div>
<div class="textContainer">
    <h3 >GEEB</h3>
    <div class="detailContainer">
        <h5>Year: </h5>
        <p>2020-now</p>
    </div>
    <p>I am currently working on the development of a web page whose
        objective is to allow people to connect with others to create new
        projects.
    </p>
    <h5>Technologies I used:</h5>
    <div class="techContainer">
        <p>React</p>
        <p>Mongo DB</p>
        <p>sass</p>
        <p>express</p>
        <p>github</p>
    </div>
    <input type="button" onclick="location.href='https://geeb-3.vercel.app/';" value="Check it out">
</div>
<div class="textContainer">
    <h3 >IRIS</h3>
    <div class="detailContainer">
        <h5>Year:</h5>
        <p>2021</p>
    </div>

    <p>For the TechTogether Seattle competition, my team and I
    developed an app prototype which purpose is to help visually
    impaired people code. At the event, we won 3 categories, one
    was the Best Social Activism Hack</p>
    <h5>Technologies I used:</h5>
    <div class="techContainer">
        <p>React</p>
        <p>Microsoft Keyboard Layout Creator</p>
        <p>Javascript</p>
    </div>
    <input type="button" onclick="location.href='https://devpost.com/software/asdf-pzyrbe';" value="Check it out">
</div>
<div class="textContainer">
    <h3 >GALENE APP</h3>
    <div class="detailContainer">
        <h5>Year:</h5>
        <p>2020</p>
    </div>
    <p>As our semester project, my team and I develop Galene is a prototype of an iOS app to help people with anxiety find help nearby. We also send a couple of activities to help
    with the feeling of being anxious. The number of activities we assign depends on the level of Anxiety detected by making the
    Beck test and to assign a type of activity we ask to take a photo of something nearby
    that we evaluate with machine learning.</p>
    <h5>Technologies I used:</h5>
    <div class="techContainer">
        <p>XCode</p>
        <p>Swift</p>
        <p>Firebase</p>
        <p>Health Kit API
        <p>Create ML</p>
    </div>
    <input type="button" onclick="location.href='https://github.com/SebasRod23/GaleneApp';" value="Check it out">
</div>
{% endblock %}

